.page {
    overflow: hidden;
    top: 0;
    position: sticky;
    box-shadow: 0 0 2rem #111;
}

#navbar {
    display: flex;
    bottom: 0;
    position: sticky;
    max-width: 100vw;
    height: 5rem;
    background-color: #111;
    z-index: 1;
}

#navbar>span {
    height: 100%;
    display: block;
    padding: 2rem;
}

#roadmap {
    position: relative;
}

.roadmap {
    width: 60vw;
}

.roadmapitem,
.progress {
    font-size: 2rem;
    display: block;
    border-radius: 1rem;
    max-height: 3rem;
    height: 3rem;
    width: 80vw;
    padding: 1em;
    margin-bottom: 1rem;
    background-color: #111;
    outline-offset: -0.3rem;
}

.done {
    color: var(--ok);
}

.done .roadmapitem {
    outline: var(--ok) 0.3rem solid;
    background-color: #3fcc9620;
}

.pending {
    color: var(--pending);
}

.pending .roadmapitem {
    outline: var(--pending) 0.3rem solid;
    margin-left: 2rem;
}

.progress {
    margin: -4.5rem -2rem;
    display: block;
    background-color: #3f7acc20;
    height: 3rem;
}

.todo {
    color: var(--disabled);
}

.todo .roadmapitem {
    outline: var(--disabled) 0.3rem solid;
}